{
  "auths": {
    "registry.redhat.io": {
      "auth": "REPLACE_WITH_BASE64_ENCODED_USERNAME_PASSWORD"
    },
    "quay.io": {
      "auth": "REPLACE_WITH_BASE64_ENCODED_USERNAME_PASSWORD"
    }
  }
}
